.dice-chart {
    display:flex;
    height:100%;
}
.dice-stack {
    flex-grow:1;
    flex-basis:0;
    display:flex;
    flex-direction:column;
}
.dice-chart {
    max-width:100%;
}
.dice-stack svg {
    margin:-1%;
    max-height:20px;
}

.dice-stack.ones svg.die {
    background-color: #999999;
}
.dice-stack.twos svg.die {
    background-color: #888888;
}
.dice-stack.threes svg.die {
    background-color: #777777;
}
.dice-stack.fours svg.die {
    background-color: #666666;
}
.dice-stack.fives svg.die {
    fill: #bf6666;
    background-color: #bf0000;
}
.dice-stack.sixes svg.die {
    fill: #bf5555;
    background-color: #800000;
}


#timeline td .dice-stack svg.die {
    background-color:white;
}
#timeline .dice-chart-container {
    height:inherit;
    max-height: 200px;
}
#timeline .dice-stack.padding {
    order:5
}
