/* pure-css is used as a starting point*/
h1 {
    font-size:inherit;
}
td {
    text-align:right;
}

/* assorted effects */
#battles td {
    text-align:left;
}
.dice {
    font-size:25px;
}
.dice .hit {
    font-size:30px;
    color:red;
}
tr.hover {
    background-color:#eee;
    cursor:pointer;
}
tr.clicked {
    background-color:#ddd;
}

/* power colour scheme */

.power {
    border-radius: 20px;
    color:white;
    white-space:nowrap;
    padding:5px 5px 5px 30px ;
    background-size:27px;
    background-repeat:no-repeat;
}
.power.ottoman {
    background-color:#019D4C;
    background-image:url(ottoman.png);
}
.power.pope {
    background-color:#7B4D96;
    background-image:url(pope.png);
}
.power.england {
    background-color:#E54640;
    background-image:url(england.png);
}
.power.hapsburg {
    background-color:#FCE75A;
    color:black;
    background-image:url(hapsburg.png);

}
.power.protestant {
    background-color: #A2583D;
    background-image:url(protestant.png);
}
.power.france {
    background-color: #0090CF;
    background-image:url(france.png);
}
.power.independent {
    background-color: #C4C4C6;
    color:black;
    background-image:url(independent.png);
}
.power.total {
    color:black;
}


/* overall structure: flexbox stuff */

html, body, #outer {
    height:100%;
}

.flex-col {
    display:flex;
    flex-direction:column;
    overflow:hidden;
}
.flex-row {
    display:flex;
    flex-direction:row;
    overflow:hidden;
}
.row-flexi {
    flex:1;
    overflow:auto;
}
.col-flexi {
    flex:1;
    overflow:auto;
}
#left {
    min-width:200px;
    flex:1;
    overflow:hidden;
    white-space:pre;
}
@media screen and (max-width:1200px) {
    #right {
        font-size:1.328vw;
    }
}
#right table {
    max-width:100%;
    overflow:hidden;
}
